/// Breakpoints: container-values
/// ============================
$container-breakpoints: (
  0: 540px,
  576: 540px,
  768: 720px,
  992: 960px,
  1200: 1140px
) !default;

.container-padding {
  box-sizing: border-box;
  width: 100%;

  @each $breakpoint, $container-value in $container-breakpoints {
    @include above($breakpoint) {
      padding-left: calc(50% - #{$container-value} / 2);
      padding-right: calc(50% - #{$container-value} / 2);
    }
  }
}

.container-margin {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @each $breakpoint, $container-value in $container-breakpoints {
    @include above($breakpoint) {
      max-width: $container-value;
    }
  }
}
