// Emmet abbreviation in classes

// position
.posa { position: absolute; }
.posr { position: relative; }

// overflow
.ovh { overflow: hidden; }
.ovv { overflow: visible; }
.ovs { overflow: scroll; }
.ovxh { overflow: hidden; }
.ovxv { overflow: visible; }
.ovxs { overflow: scroll; }
.ovyh { overflow: hidden; }
.ovyv { overflow: visible; }
.ovys { overflow: scroll; }

// cursor
.cup { cursor: pointer; }

// font
.fwb { font-weight: bold; }
.fsi { font-style: italic; }

// text
.vab { vertical-align: bottom; }
.vat { vertical-align: top; }
.vam { vertical-align: middle; }

.tac { text-align: center; }
.tar { text-align: right; }
.tal { text-align: left; }

.tdn { text-decoration: none; }
.tdu { text-decoration: underline; }

.ttu { text-transform: uppercase; }
.ttc { text-transform: capitalize; }
.ttn { text-transform: none; }
.ttl { text-transform: lowercase; }

.whsnw { white-space: nowrap; }

.oln { outline: none; }

// list
.lisn { list-style: none; }
