// Emmet abbreviation in classes

@each $bp-name, $breakpoint in $breakpoints {
  @include under($breakpoint) {
    /// Position
    /// ============================
    .#{$bp-name}\:posa { position: absolute !important; }
    .#{$bp-name}\:posr { position: relative !important; }

    /// Overflow
    /// ============================
    .#{$bp-name}\:ovh { overflow: hidden !important; }
    .#{$bp-name}\:ovv { overflow: visible !important; }
    .#{$bp-name}\:ovs { overflow: scroll !important; }
    .#{$bp-name}\:ovxh { overflow-x: hidden !important; }
    .#{$bp-name}\:ovxv { overflow-x: visible !important; }
    .#{$bp-name}\:ovxs { overflow-x: scroll !important; }
    .#{$bp-name}\:ovyh { overflow-y: hidden !important; }
    .#{$bp-name}\:ovyv { overflow-y: visible !important; }
    .#{$bp-name}\:ovys { overflow-y: scroll !important; }

    /// Cursor
    /// ============================
    .#{$bp-name}\:cup { cursor: pointer !important; }

    /// Fonts
    /// ============================
    .#{$bp-name}\:fwb { font-weight: bold !important; }
    .#{$bp-name}\:fwn { font-weight: normal !important; }
    .#{$bp-name}\:fsi { font-style: italic !important; }

    /// Text
    /// ============================
    .#{$bp-name}\:vab { vertical-align: bottom !important; }
    .#{$bp-name}\:vat { vertical-align: top !important; }
    .#{$bp-name}\:vam { vertical-align: middle !important; }

    .#{$bp-name}\:tac { text-align: center !important; }
    .#{$bp-name}\:tar { text-align: right !important; }
    .#{$bp-name}\:tal { text-align: left !important; }

    .#{$bp-name}\:tdn { text-decoration: none !important; }
    .#{$bp-name}\:tdu { text-decoration: underline !important; }

    .#{$bp-name}\:ttu { text-transform: uppercase !important; }
    .#{$bp-name}\:ttc { text-transform: capitalize !important; }
    .#{$bp-name}\:ttn { text-transform: none !important; }
    .#{$bp-name}\:ttl { text-transform: lowercase !important; }

    .#{$bp-name}\:whsnw { white-space: nowrap !important; }

    .#{$bp-name}\:oln { outline: none !important; }

    /// List
    /// ============================
    .#{$bp-name}\:lisn { list-style: none !important; }
  }
}
