@each $bp-name, $breakpoint in $breakpoints {
  @include under($breakpoint) {
    /// Flex variations
    /// ============================
    .#{$bp-name}\:flex-row {
      display: flex !important;
      flex-direction: row !important;
    }

    .#{$bp-name}\:flex-col {
      display: flex !important;
      flex-direction: column !important;
    }

    .#{$bp-name}\:flex-center {
      align-items: center !important;
      justify-content: center !important;
    }

    .#{$bp-name}\:flex-wrap { flex-wrap: wrap !important; }
    .#{$bp-name}\:flex-nowrap { flex-wrap: nowrap !important; }

    .#{$bp-name}\:justify-center { justify-content: center !important; }
    .#{$bp-name}\:justify-start { justify-content: flex-start !important; }
    .#{$bp-name}\:justify-end { justify-content: flex-end !important; }
    .#{$bp-name}\:justify-between { justify-content: space-between !important; }
    .#{$bp-name}\:justify-around { justify-content: space-around !important; }

    .#{$bp-name}\:align-center { align-items: center !important; }
    .#{$bp-name}\:align-start { align-items: flex-start !important; }
    .#{$bp-name}\:align-end { align-items: flex-end !important; }
    .#{$bp-name}\:align-between { align-items: space-between !important; }
    .#{$bp-name}\:align-around { align-items: space-around !important; }

    .#{$bp-name}\:content-center { align-content: center !important; }
    .#{$bp-name}\:content-start { align-content: flex-start !important; }
    .#{$bp-name}\:content-end { align-content: flex-end !important; }
    .#{$bp-name}\:content-between { align-content: space-between !important; }
    .#{$bp-name}\:content-around { align-content: space-around !important; }

    .#{$bp-name}\:self-center { align-self: center !important; }
    .#{$bp-name}\:self-start { align-self: flex-start !important; }
    .#{$bp-name}\:self-end { align-self: flex-end !important; }
    .#{$bp-name}\:self-between { align-self: space-between !important; }
    .#{$bp-name}\:self-around { align-self: space-around !important; }

    .#{$bp-name}\:flex-fill { flex: 1 1 auto !important; }
    .#{$bp-name}\:flex-grow-0 { flex-grow: 0 !important; }
    .#{$bp-name}\:flex-grow-1 { flex-grow: 1 !important; }
    .#{$bp-name}\:flex-shrink-0 { flex-shrink: 0 !important; }
    .#{$bp-name}\:flex-shrink-1 { flex-shrink: 1 !important; }
  }
}
