/// text align
/// ============================
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

/// white-space
/// ============================
.text-wrap { white-space: wrap !important; }
.text-nowrap { white-space: nowrap !important; }

.text-excerpt {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/// extend items
/// ============================
.noextend,
.child-noextend > * {
  width: min-content;
  white-space: nowrap;
}

/// range of utilities class
/// ============================
$range-text-excerpt: (1, 5);
$range-line-height: (10, 30);
$range-font-size: (10, 40);

/// excerpt text
/// ============================
@for $i from nth($range-text-excerpt, 1) through nth($range-text-excerpt, 2) {
  .text-excerpt-#{$i} {
    @include excerpt-text($lineCount: $i);
  }
}

/// line-height
/// ============================
@for $i from nth($range-line-height, 1) through nth($range-line-height, 2) {
  .lh-#{$i} {
    line-height: $i/10 !important;
  }
}

/// font size
/// ============================
@for $i from nth($range-font-size, 1) through nth($range-font-size, 2) {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}
