/// @param  {color} $bgColor main color of the button
/// @author Guillaume TURPIN
/// @since v-2.0.2
/// @output button with darken color
@mixin button-variant($bgColor, $amount: 15%) {
	background-color: $bgColor;
	border: 0;
	@include text-contrast($bgColor);
	
	&:hover,
	&:active,
	&.active {
		background-color: darken($bgColor, $amount);
	}
}

/// @param  {color} $bgColor main color of the button
/// @author Guillaume TURPIN
/// @since v-2.0.2
/// @output button with variation of the color
@mixin button-invert-variant($bgColor) {
	background-color: $bgColor;
	border: 1px solid $bgColor;
	@include text-contrast($bgColor);
	
	&:hover,
	&:active,
	&.active {
		background-color: transparent;
		color: $bgColor;
	}
}

/// @param  {color} $bgColor main color of the button
/// @author Guillaume TURPIN
/// @since v-2.0.2
/// @output button with inverted outlined variation
@mixin button-outline-variant($bgColor) {
	border: 1px solid $bgColor;
	background-color: transparent;
	color: $bgColor;
	
	&:hover,
	&:active,
	&.active {
		background-color: $bgColor;
		@include text-contrast($bgColor);
	}
}

