/// Uncomment and Set your own fonts from GoogleFonts
/// ============================
// @import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,400i,700|Raleway:400,400i,700&display=swap');

/// Uncomment to override default fonts of website
/// ============================
// $font-primary: "Be Vietnam", sans-serif;
// $font-secondary: "Raleway", sans-serif;

.font-primary { font-family: $font-primary !important; }
.font-secondary { font-family: $font-secondary !important; }

/// Basic fonts declaration
/// ============================
html, body {
  font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}
