/// Some basic class
.noextend {
  width: min-content;
  white-space: nowrap;
}

.excerpt-text-oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.excerpt-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
