// Main fonts
@import url('https://fonts.googleapis.com/css?family=Cabin|BioRhyme:400,700&display=swap');
$font-primary: 'BioRhyme', sans-serif !default; // font for title
$font-secondary: 'Cabin', sans-serif !default;   // font for text

/// Default colors, feel free to override them
/// ============================
$color-primary:  #007ace !default;
$color-secondary:  #38b2ac !default;
$color-grey:  #4A4A4A !default;
$color-lightgrey: #737373 !default;
$color-danger: #D23737 !default;

/// Theme color, feel free to add your own, it will generate every class in heritance
/// ============================
$user-colors: (
  "primary":    $color-primary,    // primary color of website
  "secondary":  $color-secondary,  // secondary color of website
  "grey":  $color-grey,            // color for more important text
  "lightgrey":  $color-lightgrey,  // color for less important text
  "danger":  $color-danger,        // color for alerts or something dangerous
  /// You can add colors from palet by adding a line like under
  /// 'yellow-1': map-get($color-palet, 'yellow-1'),
  /// ============================
);

/// Breakpoints for generates utilities responsive class
/// ============================
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
