// Main fonts
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
$font-primary: 'Monserrat', sans-serif !default;
$font-secondary: 'Cabin', sans-serif !default;

// Main colors
$color-primary:  #6C63FF !default;
$color-secondary:  #4285F4 !default;
$color-grey:  #4A4A4A !default;
$color-lightgrey: #737373 !default;
$color-danger: #D23737 !default;

/// array of main colors
/// @type {map}
$theme-colors: (
  "primary":    $color-primary,
  "secondary":  $color-secondary,
  "grey":  $color-grey,
  "lightgrey":  $color-lightgrey,
  "danger":  $color-danger,
);
