%btn {
  padding: .5em 2em;
  text-decoration: none !important;
  user-select: none !important;
  outline: none !important;
  cursor: pointer;
  transition: .4s;
}

// Creates a button with variation of each color in $user-colors
@each $color, $value in $user-colors {
  .button-#{$color} {
    @extend %btn;
    @include button-variant($value);
  }

  .button-outlined-#{$color} {
    @extend %btn;
    @include button-outlined-variant($value);
  }

  .button-invert-#{$color} {
    @extend %btn;
    @include button-variant-invert($value);
  }
}
